
/* PSES EXTRA CSS */
.reveal h2 {
  color: white;
  text-align: left;
  margin-bottom: 1em;
  width: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  box-sizing: border-box;
  font-size: 1.25em;
  z-index: 10;
  position: relative;
}

.reveal h2::after {
  width: 5em;
  height: 0.5em;
  position: absolute;
  background: rgba(255, 0, 0, 0.6);
  content: "";
  left: 0;
  bottom: 0;
  z-index: -1;
}
